@model Gummi.Models.User

@{
    ViewData["Title"] = "User - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a new User</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.UserId)<br />
    @Html.EditorFor(model => model.UserId<br />
    @Html.LabelFor(model => model.Name)<br />
    @Html.EditorFor(model => model.Name)<br />
   
    <input type="submit" value="Create" class="btn btn-default" />

}

@Html.ActionLink("Back to Users", "Index")



public int UserId { get; set; }
        public string Name { get; set; }
        //public int ReviewId { get; set; }
        public virtual ICollection<Review> Reviews { get; set; }