@model Gummi.Models.Review

@{
    ViewData["Title"] = "Review - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Review Details</h2>
<hr />
<!-- 
public int ReviewId { get; set; }
        public string Author { get; set; }
        public string Content { get; set; }
        public int Rating { get; set; }

-->
<p>@Html.DisplayNameFor(model => model.Author) : @Html.DisplayFor(model => model.Author)</p>
<p>@Html.DisplayNameFor(model => model.Content) : @Html.DisplayFor(model => model.Content)</p>
<p>@Html.DisplayNameFor(model => model.Rating) : @Html.DisplayFor(model => model.Rating)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.ReviewId }) | @Html.ActionLink("Back to Reviews", "Index")</p>
