@model IEnumerable<Gummi.Models.Product>
@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";

   
}
 <div class="container well infoTop decoratedEdges">
    <div class="panel-row">
        <h2>Welcome to Gummi Bear Kingdom!</h2>
    <div>
    <div class="panel-row">
        <br>
        <p>This is where we will be discussing Gummy Bear things and listing products we have available to see!</p>
    </div>
    <div class="panel-row infoGeneral">
        <br>
        <p>This is yet even more text. And we haven't even gotten to columns yet.</p>
    </div>
            
    <div class="panel-row infoGeneral top-3">
        <h2>Our Most Popluar Products:</h2>
        <br>
        <!--   <div class="panel-row" id="topProd1">     
                <div class="col-md-3">PRODUCT PICTURE</div>
                <div class="col-md-9">PRODUCT 1 INFO & LINK</div>
           </div>
           <div class="panel-row" id="topProd2">
                <div class="col-md-3">PRODUCT PICTURE</div>
                <div class="col-md-9">PRODUCT 2 INFO & LINK</div>
           </div>
           <div class="panel-row" id="topProd3">
                <div class="col-md-3">PRODUCT PICTURE</div>
                <div class="col-md-9">PRODUCT 3 INFO & LINK</div>
           </div>-->
            <div>    
            @foreach (var product in Model)
            {
            <div class="well">
                <h3>
                    Name: @Html.DisplayFor(modelItem => product.Name)
                </h3>
                <h4>
                    Description: @Html.DisplayFor(modelItem => product.Description)
                </h4>
                <h4>
                    Cost: @Html.DisplayFor(modelItem => product.Cost)                    
                </h4>
                <h4>
                    Average rating: @product.getAverageRating()
                </h4>
                @Html.ActionLink("Details", "Details","Products", new { id = @product.ProductId })
            </div>
             }
        <br>
    </div>
        @*<p class="panel-row">This is our two columns of top 3 products</p>*@

    <div class="panel-row infoGeneral">
        <br>
        <p>@Html.ActionLink("See all of our Products", "Index", "Products")</p>
    </div>

 </div>


       